<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My ASP.NET Web Page - @Page.Title</title>
        <link href="@Href("~/PenclSite/Styles/Site.css")" rel="stylesheet" />
        <link href="@Href("~/PenclSite/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <div id="page">
            <div id="header">
                <p class="site-title">My ASP.NET Web Page</p>
                <div id="login">
                    @if (WebSecurity.IsAuthenticated) {
                        <p>
                            Welcome <a href="@Href("~/PenclSite/Account/ChangePassword")" title="Change password">@WebSecurity.CurrentUserName</a>!
                            <a href="@Href("~/PenclSite/Account/Logout")">Logout</a>
                        </p>
                    } else {
                        <ul>
                            <li><a href="@Href("~/PenclSite/Account/Register")">Register</a></li>
                            <li><a href="@Href("~/PenclSite/Account/Login")">Login</a></li>
                        </ul>
                    }
                </div>
                <ul id="menu">
                    <li><a href="@Href("~/PenclSite/")">Home</a></li>
                    <li><a href="@Href("~/PenclSite/About")">About</a></li>
                </ul>
            </div>
            <div id="main">
                <div id="content">
                    <h1>@Page.Title</h1>
                    @RenderBody()
                </div>
                <div id="footer">
                    &copy; @DateTime.Now.Year - My ASP.NET Web Page
                </div>
            </div>
        </div>
    </body>
</html>